body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url('https://images.unsplash.com/photo-1572816703439-d8b34c4dc93f?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: relative;
    z-index: 1;
    color: white; /* Adjust color as needed */
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s forwards;
    font-size: 100px;
}

@keyframes fadeIn {
    to {
        opacity: 0.6;
        transform: translateY(0);
    }
}

#button-signout {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}